html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100%;
}

.logo {
  display: block;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .logo {
    width: 384px;
    margin: 0 auto;
  }
}

.container {
  padding: 2rem;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
