html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
}

body {
  margin: 0 auto;
  padding: 0 2rem;
}

@media screen and (min-width: 720px) {
  body {
    padding: 0 4rem;
  }
}

nav, nav ul {
  display: flex;
  align-items: center;
}

nav {
  justify-content: space-between;
}

nav ul {
  gap: 1rem;
}